---
import Layout from "@/layouts/Layout.astro";

---

<Layout>
	<div class="flex flex-col gap-2 items-center justify-center w-full">
		<h1>
			sorry, this page isn't ready yet
		</h1>
	</div>
</Layout>