---
export const prerender = true;

import Layout from "@/layouts/Layout.astro";
import Image from "astro/components/Image.astro"
---

<Layout>
	<div class="flex flex-col gap-2 items-center justify-center w-full h-full">
		<Image src="https://c.tenor.com/yAOQmB3Vyd4AAAAd/tenor.gif" alt="GLT gif" width={400} height={240} />
		<h1 class="text-2xl">
			sorry, this page doesn't exist :p
		</h1>
	</div>
</Layout>