---
export const prerender = true;

import Link from "@/components/link.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col items-start w-full gap-3">
		<div class="flex flex-col">
			<div class="w-full px-2 py-1 text-2	text-2xl text-white bg-black font-neue-haas-grotesk">
				my work
			</div>
			<div class="p-2.5 flex flex-row items-start w-full border border-black">
				<p>
					i've worked on a ton of stuff over the years and majority of them ended up getting archived in my 
					<Link href="https://github.com/tygrvault">vault</Link>, including all previous portfolios, a bonelab level, and other random shit that i wanted to teach myself.
					however, the few that did make it out alive are listed below, check them out and you'll be certified awesome!
				</p>
			</div>
		</div>

		<div class="grid grid-cols-3 gap-4 w-full">
			<a target="_blank" href="https://miru.nordstud.io" class="flex flex-col justify-between p-2 gap-2 w-full h-[200px] border border-black hover:text-white hover:bg-black overflow-hidden group">
				<div class="items-start flex flex-col gap-1">
					<span class="font-neue-haas-grotesk text-3xl">
						miru
					</span>
					<p>
						free, open-source, all-in-one service monitoring and status pages. 
					</p>
				</div>
				<div class="flex flex-row items-end justify-end w-full">
					<svg width="474" height="235" viewBox="0 0 474 235" fill="none" xmlns="http://www.w3.org/2000/svg" class="grayscale group-hover:invert w-18 h-8 mb-1">
						<path d="M305.32 14.928C308.904 15.44 312.744 15.7813 316.84 15.952C320.936 16.1227 324.861 16.208 328.616 16.208C331.347 16.208 335.443 16.208 340.904 16.208C346.365 16.0373 352.509 15.8667 359.336 15.696C366.333 15.5253 373.245 15.3547 380.072 15.184C386.899 15.0133 393.043 14.8427 398.504 14.672C404.136 14.3307 408.488 14.0747 411.56 13.904C416.851 13.392 421.032 12.9653 424.104 12.624C427.176 12.112 429.48 11.6 431.016 11.088L447.656 33.872C444.755 35.7493 441.768 37.6267 438.696 39.504C435.624 41.3813 432.637 43.4293 429.736 45.648C426.323 48.0373 422.227 51.1947 417.448 55.12C412.669 58.8747 407.549 62.8853 402.088 67.152C396.797 71.4187 391.592 75.6 386.472 79.696C381.523 83.792 377 87.4613 372.904 90.704C377.171 89.68 381.267 88.9973 385.192 88.656C389.117 88.144 393.128 87.888 397.224 87.888C411.731 87.888 424.701 90.704 436.136 96.336C447.741 101.968 456.872 109.648 463.528 119.376C470.355 128.933 473.768 139.941 473.768 152.4C473.768 165.883 470.355 178.085 463.528 189.008C456.701 199.931 446.376 208.635 432.552 215.12C418.899 221.605 401.747 224.848 381.096 224.848C369.32 224.848 358.653 223.141 349.096 219.728C339.709 216.315 332.285 211.451 326.824 205.136C321.363 198.821 318.632 191.397 318.632 182.864C318.632 175.867 320.509 169.381 324.264 163.408C328.189 157.264 333.565 152.315 340.392 148.56C347.389 144.805 355.411 142.928 364.456 142.928C376.232 142.928 386.131 145.317 394.152 150.096C402.344 154.704 408.573 160.933 412.84 168.784C417.277 176.635 419.581 185.253 419.752 194.64L389.8 198.736C389.629 189.349 387.24 181.84 382.632 176.208C378.195 170.405 372.221 167.504 364.712 167.504C359.933 167.504 356.093 168.784 353.192 171.344C350.291 173.733 348.84 176.549 348.84 179.792C348.84 184.571 351.229 188.411 356.008 191.312C360.787 194.213 367.016 195.664 374.696 195.664C389.203 195.664 401.32 193.957 411.048 190.544C420.776 186.96 428.029 181.925 432.808 175.44C437.757 168.784 440.232 160.933 440.232 151.888C440.232 144.208 437.843 137.467 433.064 131.664C428.456 125.861 422.141 121.339 414.12 118.096C406.099 114.853 397.053 113.232 386.984 113.232C377.085 113.232 368.04 114.512 359.848 117.072C351.656 119.461 343.891 122.96 336.552 127.568C329.384 132.005 322.301 137.467 315.304 143.952C308.477 150.267 301.651 157.349 294.824 165.2L271.528 141.136C276.136 137.381 281.341 133.2 287.144 128.592C292.947 123.813 298.835 118.864 304.808 113.744C310.952 108.624 316.669 103.845 321.96 99.408C327.421 94.8 332.029 90.96 335.784 87.888C339.368 84.9867 343.549 81.5733 348.328 77.648C353.107 73.7227 358.056 69.712 363.176 65.616C368.296 61.3493 373.16 57.3387 377.768 53.584C382.376 49.6587 386.216 46.3307 389.288 43.6C386.728 43.6 383.4 43.6853 379.304 43.856C375.208 44.0267 370.685 44.1973 365.736 44.368C360.957 44.5387 356.093 44.7093 351.144 44.88C346.365 45.0507 341.843 45.3067 337.576 45.648C333.48 45.8187 330.067 45.9893 327.336 46.16C323.923 46.3307 320.339 46.5867 316.584 46.928C312.829 47.2693 309.416 47.696 306.344 48.208L305.32 14.928Z" fill="black"/>
						<path d="M67.496 67.92V83.792H174.76V67.92H67.496ZM67.496 108.88V125.008H174.76V108.88H67.496ZM67.496 27.216V43.088H174.76V27.216H67.496ZM37.8 0.591995H205.992V151.632H37.8V0.591995ZM132.776 131.152H164.264V192.336C164.264 196.432 164.861 199.077 166.056 200.272C167.421 201.296 170.493 201.808 175.272 201.808C176.296 201.808 177.917 201.808 180.136 201.808C182.525 201.808 185.171 201.808 188.072 201.808C190.973 201.808 193.704 201.808 196.264 201.808C198.824 201.808 200.787 201.808 202.152 201.808C205.053 201.808 207.272 201.04 208.808 199.504C210.344 197.968 211.453 194.725 212.136 189.776C212.819 184.827 213.331 177.317 213.672 167.248C215.891 168.955 218.621 170.661 221.864 172.368C225.277 174.075 228.776 175.525 232.36 176.72C236.115 177.915 239.272 178.939 241.832 179.792C240.808 193.275 239.016 203.685 236.456 211.024C233.896 218.533 230.141 223.739 225.192 226.64C220.243 229.541 213.501 230.992 204.968 230.992C203.603 230.992 201.725 230.992 199.336 230.992C197.117 230.992 194.643 230.992 191.912 230.992C189.181 230.992 186.365 230.992 183.464 230.992C180.733 230.992 178.259 230.992 176.04 230.992C173.821 230.992 172.115 230.992 170.92 230.992C160.851 230.992 153 229.797 147.368 227.408C141.907 225.019 138.067 221.008 135.848 215.376C133.8 209.744 132.776 202.149 132.776 192.592V131.152ZM70.312 141.648H103.08C102.056 153.253 100.179 163.92 97.448 173.648C94.888 183.205 90.6213 191.824 84.648 199.504C78.8453 207.184 70.568 213.84 59.816 219.472C49.064 225.275 35.0693 230.139 17.832 234.064C16.9787 231.163 15.528 228.005 13.48 224.592C11.6027 221.349 9.46934 218.021 7.08 214.608C4.86134 211.365 2.64267 208.72 0.424004 206.672C15.272 203.941 27.1333 200.613 36.008 196.688C44.8827 192.592 51.624 187.899 56.232 182.608C61.0107 177.317 64.3387 171.344 66.216 164.688C68.0933 157.861 69.4587 150.181 70.312 141.648Z" fill="black"/>
					</svg>
				</div>
			</a>
			<a target="_blank" href="https://github.com/nord-studio/katarogu" class="flex flex-col justify-between p-2 gap-2 w-full h-[200px] border border-black hover:text-white hover:bg-black overflow-hidden">
				<div class="items-start flex flex-col gap-1">
					<span class="font-neue-haas-grotesk text-3xl">
						katarogu
					</span>
					<p>
						open-source and community driven manga & anime tracking service.
					</p>
				</div>
				<div class="flex flex-row items-end justify-end w-full">
					<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" fill="none" class="grayscale size-12">
						<path d="M61 145H400.774C425.164 313.333 379.99 392.12 379.99 392.12C379.99 392.12 352.103 450.814 251.671 429.233" stroke="currentColor" stroke-width="72" />
						<path d="M218.008 20C229.479 120.843 214.136 347.822 61 449" stroke="currentColor" stroke-width="72" />
					</svg>
				</div>
			</a>
			<a target="_blank" href="https://campsite.chat" class="flex flex-col justify-between p-2 gap-2 w-full h-[200px] border border-black hover:text-white hover:bg-black overflow-hidden">
				<div class="items-start flex flex-col gap-1">
					<span class="font-neue-haas-grotesk text-3xl">
						campsite
					</span>
					<p>
						a new communication platform built from the ground up.
					</p>
				</div>
				<div class="flex flex-row items-end justify-end w-full">
					<svg width="375" height="190" viewBox="0 0 375 190" fill="none" xmlns="http://www.w3.org/2000/svg" class="grayscale w-18 h-10 m-1">
						<path d="M373.562 174.079L276.771 5.19044C274.928 1.97385 271.571 0 267.944 0H110.266C102.332 0 97.4058 8.88408 101.438 15.9206L198.229 184.809C200.072 188.026 203.429 190 207.056 190H364.734C372.669 190 377.594 181.116 373.562 174.079Z" fill="currentColor"/>
						<path d="M147.43 190H12.5675C3.10387 190 -2.95558 179.164 1.4828 170.175L65.167 41.1682C69.76 31.8657 82.0497 31.552 87.0473 40.6098L158.223 169.616C163.188 178.613 157.158 190 147.43 190Z" fill="currentColor"/>
					</svg>
				</div>
			</a>
			<a target="_blank" href="https://github.com/nord-studio/ripojitori" class="flex flex-col justify-between p-2 gap-2 w-full h-[200px] border border-black hover:text-white hover:bg-black overflow-hidden">
				<div class="items-start flex flex-col gap-1">
					<span class="font-neue-haas-grotesk text-3xl">
						ripojitori
					</span>
					<p>
						open-source and community driven manga and anime database.
					</p>
				</div>
				<div class="flex flex-row items-end justify-end w-full">
					<svg width="250" height="351" viewBox="0 0 250 351" fill="none" xmlns="http://www.w3.org/2000/svg" class="grayscale size-12">
						<path d="M250 0V17.7753C250 17.7753 250 30.6536 250 37.9707C250 43.8245 250 51.288 250 60.3613C250 69.4346 250 78.508 250 87.5813C250 96.3619 250 103.533 250 109.094C250 135.436 248.976 157.826 246.927 176.266C245.17 194.705 242.389 210.51 238.584 223.681C235.072 236.559 230.388 247.974 224.534 257.925C218.68 267.877 211.801 277.535 203.898 286.901C194.531 298.023 183.701 307.829 171.407 316.316C159.405 324.512 147.111 331.39 134.525 336.951C121.938 342.805 110.23 347.488 99.3992 351L61.4816 320.707C81.6788 315.731 100.705 308.707 118.561 299.633C136.709 290.267 152.662 277.828 166.419 262.316C174.322 253.242 180.616 244.023 185.299 234.657C190.275 224.998 193.934 214.315 196.276 202.607C198.91 190.9 200.667 177.29 201.545 161.778C202.423 146.265 202.862 128.118 202.862 107.338C202.862 101.484 202.862 94.1667 202.862 85.3861C202.862 76.6055 202.862 67.8249 202.862 59.0442C202.862 49.9709 202.862 42.9464 202.862 37.9707C202.862 30.6535 202.862 17.7753 202.862 17.7753V0H250ZM45.8327 3.28727V17.8528C45.8327 17.8528 45.8327 29.6292 45.8327 34.8975C45.8327 36.9463 45.8327 41.6293 45.8327 48.9465C45.8327 55.971 45.8327 64.459 45.8327 74.4103C45.8327 84.3617 45.8327 94.8984 45.8327 106.021C45.8327 117.143 45.8327 127.972 45.8327 138.509C45.8327 148.753 45.8327 157.68 45.8327 165.29C45.8327 172.9 45.8327 178.314 45.8327 181.534C45.8327 187.095 46.2718 199.534 46.2718 199.534V214.9H0.0118816V200.438C-0.0148462 201.084 0.0118717 187.534 0.0118717 181.095C0.0118717 178.168 0.0118717 172.9 0.0118717 165.29C0.0118717 157.387 0.0118717 148.314 0.0118717 138.07C0.0118717 127.826 0.0118717 117.143 0.0118717 106.021C0.0118717 94.8984 0.0118717 84.3617 0.0118717 74.4103C0.0118717 64.459 0.0118717 55.971 0.0118717 48.9465C0.0118717 41.6293 0.0118717 36.9463 0.0118717 34.8975C0.0118717 31.0926 0.0118717 19.7897 0.0118717 19.7897L0.0118624 3.28727L45.8327 3.28727Z" fill="currentColor"/>
						</svg>						
				</div>
			</a>
			<a target="_blank" href="https://github.com/nord-studio/horizon" class="flex flex-col justify-between p-2 gap-2 w-full h-[200px] border border-black hover:text-white hover:bg-black overflow-hidden group">
				<div class="items-start flex flex-col gap-1">
					<span class="font-neue-haas-grotesk text-3xl">
						horizon
					</span>
					<p>
						an extendable, cross-platform local music player.
					</p>
				</div>
				<div class="flex flex-row items-end justify-end w-full">
					<svg width="694" height="349" viewBox="0 0 694 349" fill="none" xmlns="http://www.w3.org/2000/svg" class="grayscale invert group-hover:grayscale-0 group-hover:invert-0 w-18 h-10 m-1">
						<path d="M544.52 349.003C544.52 238.866 455.705 149.583 346.146 149.583C236.587 149.583 147.772 238.866 147.772 349.003" stroke="white" stroke-width="58"/>
						<path d="M426.12 349.003C426.12 304.948 390.594 269.235 346.77 269.235C302.946 269.235 267.42 304.948 267.42 349.003" stroke="white" stroke-width="58"/>
						<path d="M347.119 0.930664C390.725 0.930664 432.437 9.0229 470.856 23.79C455.458 36.2825 444.807 54.3973 442.028 75.0098C412.299 64.5917 380.361 58.9307 347.119 58.9307C187.984 58.9307 58.7205 188.656 58.7205 349.003H0.720459C0.720492 156.912 155.665 0.930681 347.119 0.930664ZM597.546 108.52C657.011 171.035 693.517 255.765 693.517 349.003H635.517C635.517 274.221 607.4 206.099 561.251 154.69C578.563 144.576 591.722 128.126 597.546 108.52Z" fill="white"/>
						<ellipse cx="521.073" cy="85.7676" rx="47.859" ry="47.8608" fill="#ED7C7C"/>
					</svg>
				</div>
			</a>
		</div>
	</div>	
</Layout>