---
---

<header class="h-[465px] flex flex-col justify-end wrapper-header grayscale-100 hover:grayscale-0" style="background: url('/internal/banner.png') top center/cover" id="header">
	<span class="h-16 font-neue-haas-grotesk select-none pl-3 text-[45px]" style="background: url('/internal/header.svg') top center/cover">
		hey, i'm tygrdev
	</span>
	<nav>
		<ul class="flex w-full p-0 m-0 list-none">
			<li>
				<a href="/" class="block py-1.5 border-y border-x border-black w-[180px] h-10 bg-white text-black hover:bg-black hover:text-white font-neue-haas-grotesk text-xl text-center">
					about
				</a>
			</li>
			<li>
				<a href="/projects" class="block py-1.5 border-y border-r border-black w-[180px] h-10 bg-white text-black hover:bg-black hover:text-white font-neue-haas-grotesk text-xl text-center">
					projects
				</a>
			</li>
			<li>
				<a href="/blog" class="block py-1.5 border-y border-r border-black w-[180px] h-10 bg-white text-black hover:bg-black hover:text-white font-neue-haas-grotesk text-xl text-center">
					blog
				</a>
			</li>
			<!-- <li>
				<a href="/gallery" class="block py-1.5 border-y border-r border-black w-[128.5714285714px] h-10 bg-white text-black hover:bg-black hover:text-white font-neue-haas-grotesk text-xl text-center">
					gallery
				</a>
			</li> -->
			<li>
				<a href="/gear" class="block py-1.5 border-y border-r border-black w-[180px] h-10 bg-white text-black hover:bg-black hover:text-white font-neue-haas-grotesk text-xl text-center">
					gear
				</a>
			</li>
			<li>
				<a href="/music" class="block py-1.5 border-y border-r border-black w-[180px] h-10 bg-white text-black hover:bg-black hover:text-white font-neue-haas-grotesk text-xl text-center">
					music
				</a>
			</li>
			<!-- <li>
				<a href="/anime" class="block py-1.5 border-y border-r border-black w-[128.5714285714px] h-10 bg-white text-black hover:bg-black hover:text-white font-neue-haas-grotesk text-xl text-center">
					anime
				</a>
			</li> -->
		</ul>
	</nav>
</header>