---
import "../styles/global.css";

import Status from "@/components/status.astro";
import NowListening from "@/components/now-listening.astro";
import Controls from "@/components/controls.astro";
import Image from "astro/components/Image.astro";
import Header from "@/components/header.astro";
import Socials from "@/components/socials.astro";
---

<html lang="en" class="font-ark bg-neutral-950">
	<!-- hey, what are you doing here? trying to learn how this super awesome website works? -->
	<!-- well, just a head's up, the repo for this site is public: https://github.com/tygrdotdev/tygr.dev -->
	<!-- go make some cool shit and don't be afraid to ask for help if you need any :p -->
	<head>
		<title>tygr.dev</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<script async src="/internal/neko.js"></script>
	</head>
	<body class="min-w-[900px] max-w-[900px] w-full min-h-screen mx-auto">
		<Header />
		<div class="w-[900px] h-full p-6 bg-white text-black border-x gap-2.5">
			<slot />
		</div>
		<footer class="h-[21px] flex justify-end items-end mb-8" style="background: url('/internal/footer.svg') bottom center/cover">
			<span class="pb-1 pr-3">
				built with <a href="https://astro.build" target="_blank">
					astro
				</a>
				and <a href="/dr_pepper.mp4" target="_blank">dr pepper</a> | banner by: <a href="https://x.com/lililjiliijili/status/1021352917872259072" target="_blank">
				@lililjiliijili</a>
			</span>
		</footer>
	</body>
</html>